.burgerMenuClose{
    position: absolute;
    top: 86px;
    left: 83px;
    text-align: left;
    font: normal normal normal 48px/57px Helvetica Neue;
    letter-spacing: 4.8px;
    color: #FFFFFF;
    opacity: 1;
}

.burgerMenuOpen{
    display: none;
}


.burgerMenuBigOpen{
    position: absolute;
    top: -142px;
    left: -84px;
    width: 682px;
    height: 682px;
    background: #0B0B0B 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 50%;
    z-index: 10;
    text-align: left;
    font: normal normal normal 48px/57px Helvetica Neue;
    letter-spacing: 4.8px;
    opacity: 1;
}

.burgerMenuBigClose{
    display: none;
}

.burgerMenuOpenContent{
    position: relative;
    top: 228px;
    left: 167px;
    width: 682px;
    height: 682px;
}